* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: white;
}

h1 {
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1.25rem;
	font-weight: 200;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 1rem;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

h4 {
	font-size: 1rem;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

p {
	font-size: 1rem;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #fff;
  border-bottom: 1px solid #800000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  height: 25px;
}

.navbar .navbar-logo > img {
  height: 100%;
	object-fit: cover;
}

.navbar .navbar-nav a {
  color: #010101;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #800000;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #800000;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #010101;
  margin: 0 0.5rem;
}

.profile-pic {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 7%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 390px;
  overflow: hidden;
}

.sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
}

.user-info, .dob, .institute {
  display: flex;
  align-items: center;
}

.user-info img{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

.sub-menu hr {
  border: 0;
  height: 1;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 12px 0;
}

.sub-menu-link img{
  width: 25px;
  margin-right: 0.7rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.sub-menu-link p{
  width: 100%;
  font-size: larger;
}

.sub-menu-link p:hover{
  color: #800000;
  font-weight: 500;
}

.navbar .navbar-extra a:hover {
  color: #800000;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../img/flowcover.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 10%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h2 {
  font-size: 1.4rem;
  color: #fff;
  line-height: 2;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight:100;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .buy-now {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: 800000;
  border-radius: 0.5rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Grace Feed Section*/
.product, .menu, .contact, .about {
  padding: 8rem 7% 1.4rem;
}

.product h2, .menu h2, .contact h2, .about h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

.product h2 span, .menu h2 span, .contact h2 span, .about h2 span{
  color: #800000;
}

.product .row-1 {
  display: flex;
}

.product .row-1 .about-img {
  flex: 1 1 45rem;
}

.product .row-1 .about-img img {
  width: 100%;
}

.product .row-1 .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.product .row-1 .content h2 {
  margin-bottom: 0;
  color: #800000;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.product .row-1 .content p {
  margin-top: 1rem;
  line-height: 2;
  color: #010101;
}

.product .row-1 .content .view-more{
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: 800000;
  border-radius: 0.5rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.product .row-2 {
  display: flex;
  margin-top: 4rem;
}

.product .row-2 .about-img {
  flex: 1 1 45rem;
}

.product .row-2 .about-img img {
  width: 100%;
}

.product .row-2 .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.product .row-2 .content h2 {
  margin-bottom: 0;
  color: #800000;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.product .row-2 .content p {
  margin-top: 1rem;
  line-height: 2;
  color: #010101;
}

.product .row-2 .content .view-more{
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: 800000;
  border-radius: 0.5rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Product */
.menu h2, .contact h2, .about h2 {
  margin-bottom: 1rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding: 1rem 2rem;
}

.menu .row .menu-card .menu-card-tag {
  margin: auto;
  text-align: center;
  font-size: x-small;
  font-weight: 700;
  padding: 4px 1px;
  color: #fff;
  background-color: 800000;
}

.menu .row .menu-card img{
  flex: 1 1 45rem;
  width: 100%;
  padding-bottom: 1rem; 
  object-fit: cover;
}

.menu .row .menu-card .menu-card-title{
  margin: auto;
}

/* Contact */
.contact p {
  text-align: left;
  margin: 1;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 2rem;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #800000;
}

.contact .row .map{
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  border: 1px solid white;
  padding-left: 2rem;
  border-radius: 0.5rem;
}

.contact .row form .input input{
  width: 100%;
  padding: 2rem;
  font-size: 1rem;
  background: none;
  color: #800000;
}

.contact .row form .button{
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: black;
  background-color: #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.contact .colomn {
  margin-top: 1rem;
}

/* About Me */
.profile-card {
	display: flex;
	flex-direction: column;
	padding: 1.25rem;
	border-radius: 1rem;
	color: black;
	background-color: whitesmoke;
  text-align: center;
}

.profile-picture {
	align-self: center;
	margin: 1.25rem;
	height: 150px;
}

.profile-picture > img {
	height: 100px;
}

.profile-card h2, h3{
	text-align: center;
  margin: 0.3rem;
}

.profile-links {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
  color: #010101;
}

.profile-links img {
	width: 100%;
}

.about .profile-card .social-media {
  padding: 1.5rem 0;
}

.about .profile-card .social-media a{
  color: black;
  margin: 1rem;
}

.about .social-media a:hover {
  color: #800000;
}

/* Footer */
footer {
  background-color: #800000;
  text-align: left;
  padding: 1rem 0 2rem;
  margin-top: 3rem;
}

footer .credits {
  font-size: 1rem;
  color: white;
  font-weight: 700;
}

footer .hyperlink {
  margin-bottom: 1.4rem;
}

footer .hyperlink a{
  color: white;
  margin: 0.7rem 1rem;
}

footer .hyperlink a:hover {
  color: black;
}

/* Media */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #800000;
    width: 30rem;
    height: 100vh;
    transition: 0.2s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #ffffff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:hover {
    color: #ffffff ;
  }

  .navbar .navbar-nav a::after {
    border-bottom: 0.1rem solid white;
    transition: 0.2s linear;
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .product .row-1 {
    flex-wrap: wrap;
  }

  .product .row-1 .about-img img{
    object-fit: cover;
    object-position: center;
    height: 24rem;
  }

  .product .row-1 .content{
    padding: 0;
  }

  .product .row-1 .content h2{
    margin-top: 1.6rem;
  }

  .product .row-2 {
    flex-wrap: wrap;
  }

  .product .row-2 .about-img img{
    object-fit: cover;
    object-position: center;
    height: 24rem;
  }

  .product .row-2 .content{
    padding: 0;
  }

  .product .row-2 .content h2{
    margin-top: 1.6rem;
  }

  .menu .row .menu-card .menu-card-title{
    margin: auto;
    padding: 1rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .sub-menu-wrap {
    right: 11%;
  }

  .user-info h2 {
    font-weight: 600;
    font-size: 1.7rem;
  }

  .sub-menu-link p{
    width: 100%;
    font-size: 1.6rem;
  }

}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
